extends layout

block content

    svg

    div(id="nav-bar")
        ul(id="nav-list")
            li(id="projects-link") Projects
            li(id="about-link") About

    div(id="intro-container")
        div(id="intro")
            h1(class="fancy") Hello, I'm Clay!
            div(class="sub-header") Developer &nbsp;|&nbsp; Problem Solver

    div(id="about-me")
        h2() About
        p!= "I'm a <span class='highlight'>full-stack web</span> and <span class='highlight'> mobile developer</span> in Charlotte, USA."
        p!= "Currently I'm spending my time building apps supporting research and operations at UNC Charlotte, where I earned my undergraduate degree. I'm also working on my <span class='highlight'>Master of Computer Science degree</span> at Georgia Tech."
        p I built this site from scratch. By scratch, I mean absolutely from scratch without any UI library/framework (except React though) and had so much fun along the way.
        p My main tools are <span class='highlight'>PHP + Laravel</span>, <span class='highlight'>Node.js</span>, <span class='highlight'>Java</span>, and <span class='highlight'>Linux</span>. I'm also learning <span class='highlight'>React</span>.

    div(id="projects")
        h2 Projects
        p Here's a few things I've built in my spare time
        div(class="flex")
            div(class="card")
                div(class="project-type")
                    p
                        ion-icon(name="logo-nodejs")
                div(class="card-projects")
                    a(href="") Text Generator
                    br
                    a(href="") CRUD Demo
                    br
                    a(href="") IRC Game Bot
            div(class="card")
                div(class="project-type")
                    p
                       ion-icon(name="logo-javascript")
                div(class="card-projects")
                    a(href="") Snake Game
                    br
                    a(href="") Simon
                    br
                    a(href="") D3 Heat Map
            div(class="card")
                div(class="project-type")
                    p
                        ion-icon(name="logo-android")
                div(class="card-projects")
                    a(href="") Meditation Timer


    include scripts

