extends layout

block content

    svg

    div(id="nav-bar")
        ul(id="nav-list")
            li(id="projects-link") Projects
            li(id="about-link") About
            li(class="nav-logo")
                a(href="https://www.linkedin.com/in/clay-holt")
                    ion-icon(name="logo-linkedin")
            li(class="nav-logo")
                a(href="https://github.com/tarwater")
                    ion-icon(name="logo-github")

    div(id="intro-container")
        div(id="intro")
            h1(class="fancy") Hello, I'm Clay!
            div(class="sub-header") Developer &nbsp;|&nbsp; Problem Solver

    div(id="about-me")
        h2() About
        p!= "I'm a <span class='highlight'>full-stack web</span> and <span class='highlight'> mobile developer</span> in Charlotte, USA."
        p!= "My main tools are <span class='highlight'>PHP + Laravel</span>, <span class='highlight'>Node.js</span>, <span class='highlight'>Java</span>, and <span class='highlight'>Linux</span>. I'm also learning <span class='highlight'>React</span>."
        p!= "Currently I'm spending my time building apps to support research and operations at UNC Charlotte, where I earned my undergraduate degree. I'm also working on my <span class='highlight'>Master of Computer Science</span> degree at Georgia Tech."
        p!= "My tech-related interests include natural language processing, data visualization, and human-computer interaction. When not developing, I can often be found cooking, running, or buried in a book."
    div(id="projects")
        h2 Projects
        p Here's a few things I've built in my spare time
        div(class="flex")
            div(class="card")
                div(class="project-type")
                    p
                        ion-icon(name="logo-nodejs")
                div(class="card-projects")
                    a(href="/projects/markov") Text Generator
                    br
                    a(href="/projects/movies") CRUD Demo
                    br
                    a(href="https://github.com/tarwater/node-game-bot") IRC Game Bot
            div(class="card")
                div(class="project-type")
                    p
                       ion-icon(name="logo-javascript")
                div(class="card-projects")
                    a(href="/projects/snake") Snake Game
                    br
                    a(href="/projects/simon") Simon
                    br
                    a(href="/projects/heatmap") D3 Heat Map
            div(class="card")
                div(class="project-type")
                    p
                        ion-icon(name="logo-android")
                div(class="card-projects")
                    a(href="https://play.google.com/store/apps/details?id=com.clay.meditation") Meditation Timer


    include scripts

