script(type="text/javascript", src="/javascripts/d3.v5.js")
script(type="text/javascript", src="/javascripts/index.js")
script(src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js", type='text/javascript')


//Load React.
//Note: when deploying, replace "development.js" with "production.min.js".
//script(src="https://unpkg.com/react@16/umd/react.development.js", crossorigin)
//script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js", crossorigin)
//Load our React component.
//script(type="text/javascript", src="/javascripts/react-container.js")
