script(type="text/javascript", src="/javascripts/d3.v5.js")
script(type="text/javascript", src="/javascripts/index.js")
script(src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js", type='text/javascript')
