<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clay Holt</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="header-stuff">
    <h1>Clay Holt</h1>
    <h3>writer & programmer</h3>
    <a href="https://twitter.com/clay_writer">@clay_writer</a>
</div>
<h3>publications</h3>
<ul>
    <li><a href="">Curious</a> <span>The Fiction Pool</span></li>
    <li><a href="">Trawling</a> <span>Crack the Spine, Issue 161 </span></li>
</ul>
</body>
</html>
