extends ../layout

block content
  div(class="projects-list")
    h1 Javascript
    ul
      li
        a(href="/projects/markov") Text Generator (Node.js)
      li
        a(href="/projects/movies") Favorite Movies CRUD demo (Node.js)
      li
        a(href="/projects/snake") Snake Game (Phaser.js)
      li
        a(href="/projects/simon") Simon
      li
        a(href="/projects/heatmap") Campus Building Populations Heat Map
      li
        a(href="https://github.com/tarwater/node-game-bot") IRC Game Bot (Node.js)
    h1 Java + Android
    ul
      li
          a(href="https://play.google.com/store/apps/details?id=com.clay.meditation") Meditation Timer

